/*-----------------------------*/
/*--DEFAULT CODE---------------*/
/*-----------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

:root {
  --primary-color-100: hsl(185, 75%, 39%); /*Dark cyan*/
  --primary-color-200: hsl(229, 23%, 23%); /*Very dark desaturated blue*/
  --primary-color-200: hsl(227, 10%, 46%); /*Dark grayish blue*/
  --neutral-color-000: hsl(0, 0%, 59%);    /*Dark gray*/
}

body {
  font-family: 'Kumbh Sans', sans-serif;
}


/*-----------------------------*/
/*-- FIRST BACKGROUND----------*/
/*-----------------------------*/

.background {
  background-image: url('images/bg-pattern-top.svg'), url('images/bg-pattern-bottom.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--primary-color-100 );
  background-position: 120% 195%, -5% -100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*-----------------------------*/
/*--PROFILE CARD---------------*/
/*-----------------------------*/

.profile-card {
  background-color: white;
  border-radius: 20px;
  max-width: 20rem;
  width: 100%;
  margin: auto;

  #header {
    background-image: url(/images/bg-pattern-card.svg);
    height: 8rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 20px 0 0;
  }

  .card-body {
    text-align: center;

    .image-container {
      position: relative;
      bottom: 60px;
      left: 126px;
      width: 30%;
      background-color: white;
      border-radius: 50%;
      padding: 5px;
  
      .image-profile {
        border-radius: 50%;
      }
    }

    span, p {
      color: var(--neutral-color-000);
      font-weight: 400;
    }

    h1 {
      font-weight: 400;
    }

    p {
      border-bottom: 1px solid rgba(0,0,0,0.1);
      padding-bottom: 1rem;
    }
  }

  #footer {
    ul {
      list-style: none;
      text-align: center;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    ul li{
      padding-top: 1rem;
      padding-bottom: 1rem;
      line-height: 1.6rem;
    }
  }
}



