/*-----------------------------*/
/*--DEFAULT CODE---------------*/
/*-----------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
}

:root {
  --primary-color-100: hsl(185, 75%, 39%);
  /*Dark cyan*/
  --primary-color-200: hsl(229, 23%, 23%);
  /*Very dark desaturated blue*/
  --primary-color-200: hsl(227, 10%, 46%);
  /*Dark grayish blue*/
  --neutral-color-000: hsl(0, 0%, 59%);
  /*Dark gray*/
}

body {
  font-family: 'Kumbh Sans', sans-serif;
}

/*-----------------------------*/
/*-- FIRST BACKGROUND----------*/
/*-----------------------------*/
.background {
  background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--primary-color-100);
  background-position: 120% 195%, -5% -100%;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*-----------------------------*/
/*--PROFILE CARD---------------*/
/*-----------------------------*/
.profile-card {
  background: white;
  max-width: 332px;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
}

.profile-card #header {
  background: url(./images/bg-pattern-card.svg);
  background-size: cover;
  height: 150px;
  width: 350px;
}

.profile-card .image-container {
  border: 5px solid white;
  border-radius: 50%;
  width: 100px;
  margin: -50px auto -30px auto;
  overflow: hidden;
}

.profile-card .image-container img {
  display: block;
}

.profile-card .card-body {
  height: 150px;
  line-height: 2.0rem;
  margin-top: 55px;
  margin-bottom: -75px;
  text-align: center;
}

.profile-card .card-body span, .profile-card .card-body p {
  color: var(--neutral-color-000);
  font-weight: 400;
}

.profile-card .card-body h1 {
  font-weight: 400;
}

.profile-card .card-body p {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
}

.profile-card #footer ul {
  padding-top: 22px;
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-card #footer ul li {
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.6rem;
}

.attribution {
  font-size: 16px;
  text-align: center;
  padding: 15px;
}

.attribution a {
  color: var(--primary-color-200);
}
/*# sourceMappingURL=styles.css.map */