/*-----------------------------*/
/*--DEFAULT CODE---------------*/
/*-----------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

:root {
  --primary-color-100: hsl(185, 75%, 39%); /*Dark cyan*/
  --primary-color-200: hsl(229, 23%, 23%); /*Very dark desaturated blue*/
  --primary-color-200: hsl(227, 10%, 46%); /*Dark grayish blue*/
  --neutral-color-000: hsl(0, 0%, 59%);    /*Dark gray*/
}

body {
  font-family: 'Kumbh Sans', sans-serif;
}

/*-----------------------------*/
/*-- FIRST BACKGROUND----------*/
/*-----------------------------*/

.background {
  background-image: url('images/bg-pattern-top.svg'), url('images/bg-pattern-bottom.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--primary-color-100 );
  background-position: 120% 195%, -5% -100%;
  min-height: 100vh;
  width: 100%;
}

/*-----------------------------*/
/*--PROFILE CARD---------------*/
/*-----------------------------*/

.profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: white;

  #header {
    background-image: url(/images/bg-pattern-card.svg);
    height: 7rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 20px 0 0;
  }

  .image-container {
    background-color: aqua;
    border-radius: 50%;
    width: 200px;
    .image-profile {
      border-radius: 50%;
      width: 100px;
    }
  }

  #footer {
    min-height: 100px;
  }
}



